<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Rf0x.prierezove_moduly">


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.Rf0x.prierezove_moduly.Obdlznik"></activity>
        <activity android:name="com.Rf0x.prierezove_moduly.Kruh"></activity>
        <activity android:name="com.Rf0x.prierezove_moduly.Jokel"></activity>
        <activity android:name="com.Rf0x.prierezove_moduly.Iprofil"></activity>
        <activity android:name="com.Rf0x.prierezove_moduly.Dutykruh"></activity>
        <activity android:name="com.Rf0x.prierezove_moduly.Cprofil"></activity>
        <activity android:name="com.Rf0x.prierezove_moduly.MainActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>